@import "variables";

.container, .values {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.values {
  color: #64748b;
  font-size: 14px;
  margin-top: 4px;
  margin-left: $space-xs;
  justify-content: center;
}

.slider {
  position: relative;
  width: 150px;
}

.slider__track,
.slider__range {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: $light-slate;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: $dark-slate;
  z-index: 2;
}

.slider__left_value {
  width: 30px;
  text-align: right;
  margin-right: 4px;
}

.slider__right_value {
  width: 30px;
  margin: 0 4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 150px;
  outline: none;
}

.thumb__left {
  z-index: 3;
}

.thumb__right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px $light-slate;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px $light-slate;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
