$space-xs: 6px;
$space-s: 12px;
$space-m: 24px;
$faint-slate: #f1f5f9;
$light-slate: #64748b;
$mid-slate: #334155;
$dark-slate: #0f172a;
$light-yellow: #FDDA0D;
$mid-yellow: #FFC000;
$radius-m: 4px;

